body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}
body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}
.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}body{
font-family: arial, helvatica;
background:#E37E68;
}

.menu{
list-style: none;
padding: 0;
background: #092327;
width: 90%;
max-width: 1000px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 60px;
display: auto
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a:hover{
background:seagreen;
}
